## Introduction
This notebook is for identifing the columns we'll be keeping from the original dataset

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from datetime import datetime
import time

# Options for pandas
pd.options.display.max_columns = 50
pd.options.display.max_rows = 30

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

%load_ext autoreload
%autoreload 2

In [2]:
# read data
start = time.time()
path = '/Users/cyuancheng/Documents/course/Springboard/Capstone1/data/'
df = pd.read_csv(path+'data_2012_2019.csv', low_memory=True, index_col=0, \
              parse_dates=['issue_d', 'earliest_cr_line', 'last_pymnt_d', 'last_credit_pull_d']  )
end = time.time()

In [3]:
print('It takes  ' + str(round((end-start)/60, 1)) +' min to read the data')

It takes  7.6 min to read the data

In [4]:
df.shape

(2736278, 91)

In [5]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,...,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
10224583,11100.0,11100.0,11100.0,36 months,14.98%,384.68,C,C3,Teacher,10+ years,MORTGAGE,90000.0,Not Verified,2013-12-01,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,Other,103xx,NY,3.73,1.0,2001-06-01,690.0,...,11.0,1.0,4.0,8.0,4.0,4.0,0.0,8.0,11.0,8.0,9.0,0.0,0.0,1.0,1.0,75.0,50.0,0.0,0.0,385000.0,6619.0,4000.0,0.0,N,N
10148122,12000.0,12000.0,12000.0,36 months,7.62%,373.94,A,A3,Systems Engineer,3 years,MORTGAGE,96500.0,Not Verified,2013-12-01,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt Consolidation and Credit Transfer,782xx,TX,12.61,0.0,2003-09-01,705.0,...,10.0,0.0,4.0,5.0,4.0,10.0,15.0,8.0,14.0,5.0,17.0,0.0,0.0,0.0,3.0,100.0,100.0,0.0,0.0,233004.0,46738.0,14800.0,53404.0,N,N
10149342,27050.0,27050.0,27050.0,36 months,10.99%,885.46,B,B2,Team Leadern Customer Ops & Systems,10+ years,OWN,55000.0,Verified,2013-12-01,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt Consolidation,481xx,MI,22.87,0.0,1986-10-01,730.0,...,8.0,0.0,2.0,4.0,4.0,8.0,8.0,10.0,15.0,4.0,14.0,0.0,0.0,0.0,1.0,100.0,25.0,0.0,0.0,138554.0,70186.0,35700.0,33054.0,N,N
10129454,12000.0,12000.0,12000.0,36 months,10.99%,392.81,B,B2,Project Manager,4 years,RENT,60000.0,Not Verified,2013-12-01,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,No Regrets,281xx,NC,4.62,0.0,2009-12-01,720.0,...,3.0,0.0,4.0,7.0,8.0,10.0,0.0,15.0,18.0,7.0,15.0,0.0,0.0,0.0,4.0,100.0,0.0,0.0,0.0,29700.0,7137.0,18100.0,0.0,N,N
10149488,4800.0,4800.0,4800.0,36 months,10.99%,157.13,B,B2,Surgical Technician,2 years,MORTGAGE,39600.0,Source Verified,2013-12-01,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,home_improvement,For The House,782xx,TX,2.49,0.0,1995-08-01,755.0,...,3.0,0.0,2.0,2.0,3.0,4.0,1.0,3.0,7.0,2.0,3.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,25700.0,4136.0,25700.0,0.0,N,N

In [9]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Index: 2736278 entries, 10224583 to Total amount funded in policy code 2: 988141862
Data columns (total 91 columns):
loan_amnt                     float64
funded_amnt                   float64
funded_amnt_inv               float64
term                          object
int_rate                      object
installment                   float64
grade                         object
sub_grade                     object
emp_title                     object
emp_length                    object
home_ownership                object
annual_inc                    float64
verification_status           object
issue_d                       datetime64[ns]
loan_status                   object
pymnt_plan                    object
url                           object
purpose                       object
title                         object
zip_code                      object
addr_state                    object
dti                           float64
delinq_2yrs                   float64
earliest_cr_line              datetime64[ns]
fico_range_low                float64
fico_range_high               float64
inq_last_6mths                float64
open_acc                      float64
pub_rec                       float64
revol_bal                     float64
revol_util                    object
total_acc                     float64
initial_list_status           object
out_prncp                     float64
out_prncp_inv                 float64
total_pymnt                   float64
total_pymnt_inv               float64
total_rec_prncp               float64
total_rec_int                 float64
total_rec_late_fee            float64
recoveries                    float64
collection_recovery_fee       float64
last_pymnt_d                  datetime64[ns]
last_pymnt_amnt               float64
last_credit_pull_d            datetime64[ns]
last_fico_range_high          float64
last_fico_range_low           float64
collections_12_mths_ex_med    float64
policy_code                   float64
application_type              object
acc_now_delinq                float64
tot_coll_amt                  float64
tot_cur_bal                   float64
total_rev_hi_lim              float64
acc_open_past_24mths          float64
avg_cur_bal                   float64
bc_open_to_buy                float64
bc_util                       float64
chargeoff_within_12_mths      float64
delinq_amnt                   float64
mo_sin_old_il_acct            float64
mo_sin_old_rev_tl_op          float64
mo_sin_rcnt_rev_tl_op         float64
mo_sin_rcnt_tl                float64
mort_acc                      float64
mths_since_recent_bc          float64
mths_since_recent_inq         float64
num_accts_ever_120_pd         float64
num_actv_bc_tl                float64
num_actv_rev_tl               float64
num_bc_sats                   float64
num_bc_tl                     float64
num_il_tl                     float64
num_op_rev_tl                 float64
num_rev_accts                 float64
num_rev_tl_bal_gt_0           float64
num_sats                      float64
num_tl_120dpd_2m              float64
num_tl_30dpd                  float64
num_tl_90g_dpd_24m            float64
num_tl_op_past_12m            float64
pct_tl_nvr_dlq                float64
percent_bc_gt_75              float64
pub_rec_bankruptcies          float64
tax_liens                     float64
tot_hi_cred_lim               float64
total_bal_ex_mort             float64
total_bc_limit                float64
total_il_high_credit_limit    float64
hardship_flag                 object
debt_settlement_flag          object
dtypes: datetime64[ns](4), float64(67), object(20)
memory usage: 1.9+ GB

In [7]:
# check columns
print(sorted(df.columns))

['acc_now_delinq', 'acc_open_past_24mths', 'addr_state', 'annual_inc', 'application_type', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'collection_recovery_fee', 'collections_12_mths_ex_med', 'debt_settlement_flag', 'delinq_2yrs', 'delinq_amnt', 'dti', 'earliest_cr_line', 'emp_length', 'emp_title', 'fico_range_high', 'fico_range_low', 'funded_amnt', 'funded_amnt_inv', 'grade', 'hardship_flag', 'home_ownership', 'initial_list_status', 'inq_last_6mths', 'installment', 'int_rate', 'issue_d', 'last_credit_pull_d', 'last_fico_range_high', 'last_fico_range_low', 'last_pymnt_amnt', 'last_pymnt_d', 'loan_amnt', 'loan_status', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_inq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'open_acc', 'out_prncp', 'out_prncp_inv', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'policy_code', 'pub_rec', 'pub_rec_bankruptcies', 'purpose', 'pymnt_plan', 'recoveries', 'revol_bal', 'revol_util', 'sub_grade', 'tax_liens', 'term', 'title', 'tot_coll_amt', 'tot_cur_bal', 'tot_hi_cred_lim', 'total_acc', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'total_pymnt', 'total_pymnt_inv', 'total_rec_int', 'total_rec_late_fee', 'total_rec_prncp', 'total_rev_hi_lim', 'url', 'verification_status', 'zip_code']

Check the description of the various column fields in the dataset.

In [8]:
df_description = pd.read_excel('LCDataDictionary.xlsx').dropna()
df_description.style.set_properties(subset=['Description'], **{'width': '1000px'})

## Data Engineering

In [10]:
# Number of each type of column
df.dtypes.value_counts().sort_values()

datetime64[ns]     4
object            20
float64           67
dtype: int64

### Categorical variables
Look at how many unique values in each catagorical column

In [11]:
# look at categorical valuables
df[df.select_dtypes('object').columns].head()

,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,revol_util,initial_list_status,application_type,hardship_flag,debt_settlement_flag
id,,,,,,,,,,,,,,,,,,,,
10224583,36 months,14.98%,C,C3,Teacher,10+ years,MORTGAGE,Not Verified,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,Other,103xx,NY,66.2%,f,Individual,N,N
10148122,36 months,7.62%,A,A3,Systems Engineer,3 years,MORTGAGE,Not Verified,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt Consolidation and Credit Transfer,782xx,TX,55.7%,f,Individual,N,N
10149342,36 months,10.99%,B,B2,Team Leadern Customer Ops & Systems,10+ years,OWN,Verified,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt Consolidation,481xx,MI,61.2%,w,Individual,N,N
10129454,36 months,10.99%,B,B2,Project Manager,4 years,RENT,Not Verified,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,No Regrets,281xx,NC,24%,f,Individual,N,N
10149488,36 months,10.99%,B,B2,Surgical Technician,2 years,MORTGAGE,Source Verified,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,home_improvement,For The House,782xx,TX,16.1%,w,Individual,N,N

In [12]:
# see how many unique values in each categorical valuable
df.select_dtypes('object').apply(pd.Series.nunique, axis = 0).sort_values(ascending=False)

url                     2736240
emp_title                552595
title                     45971
revol_util                 1346
zip_code                    958
int_rate                    408
addr_state                   51
sub_grade                    35
purpose                      14
emp_length                   11
loan_status                   8
grade                         7
home_ownership                6
verification_status           3
debt_settlement_flag          2
pymnt_plan                    2
hardship_flag                 2
initial_list_status           2
application_type              2
term                          2
dtype: int64

- remove url, emp_title, zip_code, revol_util,int_rate 
- convert revol_util to num
- convert int_rate to percentage

In [13]:
col_cat_0 =  df.select_dtypes('object').columns.to_list()
col_cat_del = ['url', 'zip_code', 'emp_title', 'revol_util', 'int_rate']
col_cat_0 = list(set(col_cat_0).difference(set(col_cat_del)))
col_cat_0

['loan_status',
 'home_ownership',
 'sub_grade',
 'debt_settlement_flag',
 'grade',
 'application_type',
 'purpose',
 'initial_list_status',
 'hardship_flag',
 'title',
 'emp_length',
 'pymnt_plan',
 'verification_status',
 'addr_state',
 'term']

In [14]:
# pick up categorical valuables that are related to default
col_cat = ['term', 'grade', 'emp_length', 'home_ownership',
                    'verification_status', 'loan_status', 'purpose','addr_state',]

### Datetime columns
In catagorical columns, three columns are datetime columns

In [21]:
col_date_0 = ['issue_d', 'earliest_cr_line', 'last_pymnt_d', 'last_credit_pull_d']

In [16]:
df[col_date_0].info()

<class 'pandas.core.frame.DataFrame'>
Index: 2736278 entries, 10224583 to Total amount funded in policy code 2: 988141862
Data columns (total 4 columns):
issue_d               datetime64[ns]
earliest_cr_line      datetime64[ns]
last_pymnt_d          datetime64[ns]
last_credit_pull_d    datetime64[ns]
dtypes: datetime64[ns](4)
memory usage: 104.4+ MB

In [17]:
df[col_date_0].head()

            issue_d earliest_cr_line last_pymnt_d last_credit_pull_d
id
10224583 2013-12-01       2001-06-01   2016-02-01         2018-06-01
10148122 2013-12-01       2003-09-01   2016-06-01         2020-01-01
10149342 2013-12-01       1986-10-01   2016-07-01         2018-03-01
10129454 2013-12-01       2009-12-01   2016-04-01         2018-08-01
10149488 2013-12-01       1995-08-01   2014-09-01         2017-01-01

In [18]:
col_date_0

['issue_d', 'earliest_cr_line', 'last_pymnt_d', 'last_credit_pull_d']

In [19]:
# drop missing values
df.dropna(subset=col_date_0, inplace=True)

In [20]:
df[col_date_0].isnull().sum()

issue_d               0
earliest_cr_line      0
last_pymnt_d          0
last_credit_pull_d    0
dtype: int64

### Percentage columns

In [22]:
col_perc_0 = ['int_rate', 'revol_util']

In [23]:
# find missing value
df[col_perc_0].isnull().sum()

int_rate         0
revol_util    2368
dtype: int64

In [24]:
# drop nan from revol_util column
df.dropna(subset=col_perc_0, inplace=True)

In [25]:
df[col_perc_0].isnull().sum()

int_rate      0
revol_util    0
dtype: int64

In [26]:
for col in col_perc_0:
    df[col] = df[col].apply(lambda x: x.strip('%'))  # remove %
    df[col] = df[col].apply(lambda x: pd.to_numeric(x))

In [27]:
df[col_perc_0].info()

<class 'pandas.core.frame.DataFrame'>
Index: 2730228 entries, 10224583 to 158206429
Data columns (total 2 columns):
int_rate      float64
revol_util    float64
dtypes: float64(2)
memory usage: 62.5+ MB

### Numerical columns

In [28]:
col_float_0 = df.select_dtypes('float64').columns.to_list()

In [29]:
# pick up numerical values related to default
col_float = ['loan_amnt', 'funded_amnt', 'installment', 'annual_inc','int_rate',
                     'dti', 'revol_bal', 'delinq_2yrs', 'open_acc', 'pub_rec',
                                'fico_range_high', 'fico_range_low', 'total_pymnt', 'recoveries']

### save to csv file

In [30]:
col_all = col_date_0 + col_perc_0 + col_cat_0 + col_float_0

In [31]:
df[col_all].shape

(2730228, 90)

In [172]:
# show missing data
(df[col_all].isnull().sum()[df[col_all].isnull().sum()>0]/len(df)*100)\
.sort_values(ascending=False)

mths_since_recent_inq    11.503325
emp_length                7.012418
num_tl_120dpd_2m          4.322716
mo_sin_old_il_acct        4.035890
bc_util                   1.375966
                           ...
mort_acc                  0.273494
total_bal_ex_mort         0.273494
total_bc_limit            0.273494
dti                       0.104057
inq_last_6mths            0.000037
Length: 38, dtype: float64

In [32]:
path = '/Users/cyuancheng/Documents/course/Springboard/Capstone1/data/'
df[col_all].to_csv(path+'data_2012_2019_rm.csv')

### pick-up columns

In [33]:
col_pick =  col_date_0 + col_perc_0 + col_cat + col_float

In [34]:
col_pick

['issue_d',
 'earliest_cr_line',
 'last_pymnt_d',
 'last_credit_pull_d',
 'int_rate',
 'revol_util',
 'term',
 'grade',
 'emp_length',
 'home_ownership',
 'verification_status',
 'loan_status',
 'purpose',
 'addr_state',
 'loan_amnt',
 'funded_amnt',
 'installment',
 'annual_inc',
 'int_rate',
 'dti',
 'revol_bal',
 'delinq_2yrs',
 'open_acc',
 'pub_rec',
 'fico_range_high',
 'fico_range_low',
 'total_pymnt',
 'recoveries']

In [35]:
len(col_pick)

28

Prepare dataset

In [36]:
df_1=df[col_pick]

In [37]:
df_1.head()

,issue_d,earliest_cr_line,last_pymnt_d,last_credit_pull_d,int_rate,revol_util,term,grade,emp_length,home_ownership,verification_status,loan_status,purpose,addr_state,loan_amnt,funded_amnt,installment,annual_inc,int_rate,dti,revol_bal,delinq_2yrs,open_acc,pub_rec,fico_range_high,fico_range_low,total_pymnt,recoveries
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,
10224583,2013-12-01,2001-06-01,2016-02-01,2018-06-01,14.98,66.2,36 months,C,10+ years,MORTGAGE,Not Verified,Fully Paid,other,NY,11100.0,11100.0,384.68,90000.0,14.98,3.73,6619.0,1.0,9.0,0.0,694.0,690.0,13575.640006,0.0
10148122,2013-12-01,2003-09-01,2016-06-01,2020-01-01,7.62,55.7,36 months,A,3 years,MORTGAGE,Not Verified,Fully Paid,debt_consolidation,TX,12000.0,12000.0,373.94,96500.0,7.62,12.61,13248.0,0.0,17.0,0.0,709.0,705.0,13397.539998,0.0
10149342,2013-12-01,1986-10-01,2016-07-01,2018-03-01,10.99,61.2,36 months,B,10+ years,OWN,Verified,Fully Paid,debt_consolidation,MI,27050.0,27050.0,885.46,55000.0,10.99,22.87,36638.0,0.0,14.0,0.0,734.0,730.0,31752.530000,0.0
10129454,2013-12-01,2009-12-01,2016-04-01,2018-08-01,10.99,24.0,36 months,B,4 years,RENT,Not Verified,Fully Paid,debt_consolidation,NC,12000.0,12000.0,392.81,60000.0,10.99,4.62,7137.0,0.0,15.0,0.0,724.0,720.0,13988.609996,0.0
10149488,2013-12-01,1995-08-01,2014-09-01,2017-01-01,10.99,16.1,36 months,B,2 years,MORTGAGE,Source Verified,Fully Paid,home_improvement,TX,4800.0,4800.0,157.13,39600.0,10.99,2.49,4136.0,0.0,3.0,0.0,759.0,755.0,5157.519457,0.0

In [38]:
path = '/Users/cyuancheng/Documents/course/Springboard/Capstone1/data/'
df_1.to_csv(path+'data_col_pickup.csv')