## 1 - Introduction
This notebook is for identifing the columns we'll be keeping from the original dataset

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from datetime import datetime
import time

# Options for pandas
pd.options.display.max_columns = 50
pd.options.display.max_rows = 30

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

%load_ext autoreload
%autoreload 2

In [5]:
df.shape

(2312464, 106)

In [6]:
df.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,...,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag,year
0,68367011,21000.0,21000.0,21000.0,60 months,13.99%,488.53,C,C4,Resident physician,< 1 year,RENT,52000.0,Source Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,credit_card,Credit card refinancing,441xx,OH,14.47,0.0,Jan-2005,...,0.0,3.0,3.0,4.0,4.0,11.0,4.0,4.0,3.0,5.0,0.0,0.0,0.0,1.0,100.0,75.0,0.0,0.0,370357.0,372407.0,23300.0,347057.0,N,N,2015
1,68537655,16800.0,16800.0,16800.0,60 months,12.88%,381.23,C,C2,CEO,10+ years,MORTGAGE,118000.0,Not Verified,Dec-2015,Current,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,636xx,MO,34.29,0.0,Jun-1997,...,12.0,3.0,3.0,4.0,22.0,12.0,5.0,28.0,3.0,11.0,0.0,0.0,0.0,1.0,64.4,25.0,0.0,0.0,412771.0,75808.0,12600.0,115941.0,N,N,2015
2,68356421,22400.0,22400.0,22400.0,60 months,12.88%,508.30,C,C2,Executive Director,6 years,MORTGAGE,95000.0,Not Verified,Dec-2015,Current,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,290xx,SC,22.98,0.0,Apr-1995,...,2.0,3.0,8.0,4.0,5.0,15.0,10.0,15.0,8.0,16.0,0.0,0.0,0.0,3.0,97.0,25.0,0.0,0.0,436841.0,184356.0,21000.0,191682.0,N,N,2015
3,68466926,10000.0,10000.0,10000.0,36 months,6.49%,306.45,A,A2,SERVICE MANAGER,6 years,RENT,85000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,credit_card,Credit card refinancing,160xx,PA,13.07,0.0,Apr-2002,...,0.0,6.0,9.0,7.0,10.0,3.0,13.0,19.0,9.0,14.0,0.0,0.0,0.0,2.0,95.7,28.6,1.0,0.0,61099.0,27957.0,16400.0,30799.0,N,N,2015
4,68616873,8000.0,8000.0,8000.0,36 months,11.48%,263.74,B,B5,Vendor liaison,10+ years,MORTGAGE,42000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,credit_card,Credit card refinancing,029xx,RI,34.80,0.0,Nov-1994,...,1.0,3.0,3.0,3.0,6.0,5.0,5.0,11.0,3.0,8.0,0.0,0.0,0.0,2.0,94.4,33.3,0.0,0.0,256513.0,113782.0,17000.0,135513.0,N,N,2015

In [7]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2312464 entries, 0 to 2312463
Data columns (total 106 columns):
id                            object
loan_amnt                     float64
funded_amnt                   float64
funded_amnt_inv               float64
term                          object
int_rate                      object
installment                   float64
grade                         object
sub_grade                     object
emp_title                     object
emp_length                    object
home_ownership                object
annual_inc                    float64
verification_status           object
issue_d                       object
loan_status                   object
pymnt_plan                    object
url                           object
purpose                       object
title                         object
zip_code                      object
addr_state                    object
dti                           float64
delinq_2yrs                   float64
earliest_cr_line              object
fico_range_low                float64
fico_range_high               float64
inq_last_6mths                float64
open_acc                      float64
pub_rec                       float64
revol_bal                     float64
revol_util                    object
total_acc                     float64
initial_list_status           object
out_prncp                     float64
out_prncp_inv                 float64
total_pymnt                   float64
total_pymnt_inv               float64
total_rec_prncp               float64
total_rec_int                 float64
total_rec_late_fee            float64
recoveries                    float64
collection_recovery_fee       float64
last_pymnt_d                  object
last_pymnt_amnt               float64
last_credit_pull_d            object
last_fico_range_high          float64
last_fico_range_low           float64
collections_12_mths_ex_med    float64
policy_code                   float64
application_type              object
acc_now_delinq                float64
tot_coll_amt                  float64
tot_cur_bal                   float64
open_acc_6m                   float64
open_act_il                   float64
open_il_12m                   float64
open_il_24m                   float64
mths_since_rcnt_il            float64
total_bal_il                  float64
open_rv_12m                   float64
open_rv_24m                   float64
max_bal_bc                    float64
all_util                      float64
total_rev_hi_lim              float64
inq_fi                        float64
total_cu_tl                   float64
inq_last_12m                  float64
acc_open_past_24mths          float64
avg_cur_bal                   float64
bc_open_to_buy                float64
bc_util                       float64
chargeoff_within_12_mths      float64
delinq_amnt                   float64
mo_sin_old_il_acct            float64
mo_sin_old_rev_tl_op          float64
mo_sin_rcnt_rev_tl_op         float64
mo_sin_rcnt_tl                float64
mort_acc                      float64
mths_since_recent_bc          float64
mths_since_recent_inq         float64
num_accts_ever_120_pd         float64
num_actv_bc_tl                float64
num_actv_rev_tl               float64
num_bc_sats                   float64
num_bc_tl                     float64
num_il_tl                     float64
num_op_rev_tl                 float64
num_rev_accts                 float64
num_rev_tl_bal_gt_0           float64
num_sats                      float64
num_tl_120dpd_2m              float64
num_tl_30dpd                  float64
num_tl_90g_dpd_24m            float64
num_tl_op_past_12m            float64
pct_tl_nvr_dlq                float64
percent_bc_gt_75              float64
pub_rec_bankruptcies          float64
tax_liens                     float64
tot_hi_cred_lim               float64
total_bal_ex_mort             float64
total_bc_limit                float64
total_il_high_credit_limit    float64
hardship_flag                 object
debt_settlement_flag          object
year                          int64
dtypes: float64(80), int64(1), object(25)
memory usage: 1.8+ GB

In [8]:
# check columns
print(sorted(df.columns))

['acc_now_delinq', 'acc_open_past_24mths', 'addr_state', 'all_util', 'annual_inc', 'application_type', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'collection_recovery_fee', 'collections_12_mths_ex_med', 'debt_settlement_flag', 'delinq_2yrs', 'delinq_amnt', 'dti', 'earliest_cr_line', 'emp_length', 'emp_title', 'fico_range_high', 'fico_range_low', 'funded_amnt', 'funded_amnt_inv', 'grade', 'hardship_flag', 'home_ownership', 'id', 'initial_list_status', 'inq_fi', 'inq_last_12m', 'inq_last_6mths', 'installment', 'int_rate', 'issue_d', 'last_credit_pull_d', 'last_fico_range_high', 'last_fico_range_low', 'last_pymnt_amnt', 'last_pymnt_d', 'loan_amnt', 'loan_status', 'max_bal_bc', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_rcnt_il', 'mths_since_recent_bc', 'mths_since_recent_inq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'open_acc', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'open_rv_12m', 'open_rv_24m', 'out_prncp', 'out_prncp_inv', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'policy_code', 'pub_rec', 'pub_rec_bankruptcies', 'purpose', 'pymnt_plan', 'recoveries', 'revol_bal', 'revol_util', 'sub_grade', 'tax_liens', 'term', 'title', 'tot_coll_amt', 'tot_cur_bal', 'tot_hi_cred_lim', 'total_acc', 'total_bal_ex_mort', 'total_bal_il', 'total_bc_limit', 'total_cu_tl', 'total_il_high_credit_limit', 'total_pymnt', 'total_pymnt_inv', 'total_rec_int', 'total_rec_late_fee', 'total_rec_prncp', 'total_rev_hi_lim', 'url', 'verification_status', 'year', 'zip_code']

In [9]:
# Number of each type of column
df.dtypes.value_counts().sort_values()

int64       1
object     25
float64    80
dtype: int64

Look at how many unique values in each catagorical column

In [10]:
df.select_dtypes('object').apply(pd.Series.nunique, axis = 0).sort_values(ascending=False)

id                      2312464
url                     2312430
emp_title                413629
revol_util                 1314
zip_code                    948
earliest_cr_line            753
int_rate                    304
last_credit_pull_d           63
last_pymnt_d                 62
issue_d                      60
addr_state                   50
sub_grade                    35
title                        28
purpose                      14
emp_length                   11
loan_status                   8
grade                         7
home_ownership                5
verification_status           3
term                          2
application_type              2
pymnt_plan                    2
hardship_flag                 2
initial_list_status           2
debt_settlement_flag          2
dtype: int64

Check the description of the various column fields in the dataset.

In [11]:
df_description = pd.read_excel('LCDataDictionary.xlsx').dropna()
df_description.style.set_properties(subset=['Description'], **{'width': '1000px'})

### 1) Deal with datetime columns
In catagorical columns, three columns are datetime columns

In [12]:
col_date = ['issue_d', 'earliest_cr_line', 'last_pymnt_d']

In [13]:
df[col_date].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2312464 entries, 0 to 2312463
Data columns (total 3 columns):
issue_d             object
earliest_cr_line    object
last_pymnt_d        object
dtypes: object(3)
memory usage: 52.9+ MB

In [14]:
# check missing value
df[col_date].isnull().sum()

issue_d               34
earliest_cr_line      34
last_pymnt_d        3314
dtype: int64

In [15]:
# drop nan 
df.dropna(subset = col_date , inplace=True)

In [16]:
df[col_date].isnull().sum()

issue_d             0
earliest_cr_line    0
last_pymnt_d        0
dtype: int64

In [17]:
# convert to correct datetime formate
for col in col_date:
    df[col]=df[col].apply(lambda x: datetime.strptime(x,'%b-%Y'))

In [18]:
df[col_date].head()

     issue_d earliest_cr_line last_pymnt_d
0 2015-12-01       2005-01-01   2018-08-01
1 2015-12-01       1997-06-01   2020-01-01
2 2015-12-01       1995-04-01   2020-01-01
3 2015-12-01       2002-04-01   2018-08-01
4 2015-12-01       1994-11-01   2017-04-01

In [19]:
df['issue_year'] = df['issue_d'].apply(lambda x: x.year)

In [54]:
col_date.append('issue_year')

In [55]:
col_date

['issue_d', 'earliest_cr_line', 'last_pymnt_d', 'issue_year']

### 2)  Percentage columns

In [21]:
col_perc = ['int_rate', 'revol_util']

In [22]:
# find missing value
df[col_perc].isnull().sum()

int_rate         0
revol_util    2120
dtype: int64

In [23]:
# drop nan from revol_util column
df.dropna(subset=['revol_util'], inplace=True)

In [24]:
df[col_perc].isnull().sum()

int_rate      0
revol_util    0
dtype: int64

In [25]:
for col in col_perc:
    df[col] = df[col].apply(lambda x: x.strip('%'))  # remove %
    df[col] = df[col].apply(lambda x: pd.to_numeric(x))

In [26]:
df[col_perc].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2307030 entries, 0 to 2312461
Data columns (total 2 columns):
int_rate      float64
revol_util    float64
dtypes: float64(2)
memory usage: 52.8 MB

### 3) Categorical columns

In [29]:
df.select_dtypes('object').columns

Index(['id', 'term', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'verification_status', 'loan_status', 'pymnt_plan',
       'url', 'purpose', 'title', 'zip_code', 'addr_state',
       'initial_list_status', 'last_credit_pull_d', 'application_type',
       'hardship_flag', 'debt_settlement_flag'],
      dtype='object')

In [46]:
df['debt_settlement_flag'].unique()

array(['N', 'Y'], dtype=object)

In [47]:
col_cat = ['term', 'grade', 'emp_length', 'home_ownership',
                    'verification_status', 'loan_status', 'purpose','addr_state',]

### 4) Numerical columns

In [31]:
df.select_dtypes('float64').columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'int_rate',
       'installment', 'annual_inc', 'dti', 'delinq_2yrs', 'fico_range_low',
       'fico_range_high', 'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_amnt', 'last_fico_range_high', 'last_fico_range_low',
       'collections_12_mths_ex_med', 'policy_code', 'acc_now_delinq',
       'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_act_il',
       'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_inq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies',
       'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object')

In [48]:
col_float = ['loan_amnt', 'funded_amnt', 'installment', 'annual_inc','int_rate',
                     'dti', 'revol_bal', 'delinq_2yrs', 'open_acc', 'pub_rec',
                                'fico_range_high', 'fico_range_low', 'total_pymnt', 'recoveries']

### 5 pick-up columns

In [57]:
col_pick =  col_date + col_perc + col_cat + col_float

In [58]:
col_pick

['issue_d',
 'earliest_cr_line',
 'last_pymnt_d',
 'issue_year',
 'int_rate',
 'revol_util',
 'term',
 'grade',
 'emp_length',
 'home_ownership',
 'verification_status',
 'loan_status',
 'purpose',
 'addr_state',
 'loan_amnt',
 'funded_amnt',
 'installment',
 'annual_inc',
 'int_rate',
 'dti',
 'revol_bal',
 'delinq_2yrs',
 'open_acc',
 'pub_rec',
 'fico_range_high',
 'fico_range_low',
 'total_pymnt',
 'recoveries']

In [59]:
len(col_pick)

28

Prepare dataset

In [60]:
df_1=df[col_pick]

In [61]:
df_1.head()

,issue_d,earliest_cr_line,last_pymnt_d,issue_year,int_rate,revol_util,term,grade,emp_length,home_ownership,verification_status,loan_status,purpose,addr_state,loan_amnt,funded_amnt,installment,annual_inc,int_rate,dti,revol_bal,delinq_2yrs,open_acc,pub_rec,fico_range_high,fico_range_low,total_pymnt,recoveries
0,2015-12-01,2005-01-01,2018-08-01,2015,13.99,87.4,60 months,C,< 1 year,RENT,Source Verified,Fully Paid,credit_card,OH,21000.0,21000.0,488.53,52000.0,13.99,14.47,20374.0,0.0,5.0,0.0,684.0,680.0,27285.807861,0.0
1,2015-12-01,1997-06-01,2020-01-01,2015,12.88,24.1,60 months,C,10+ years,MORTGAGE,Not Verified,Current,debt_consolidation,MO,16800.0,16800.0,381.23,118000.0,12.88,34.29,7849.0,0.0,11.0,1.0,684.0,680.0,18650.220000,0.0
2,2015-12-01,1995-04-01,2020-01-01,2015,12.88,32.7,60 months,C,6 years,MORTGAGE,Not Verified,Current,debt_consolidation,SC,22400.0,22400.0,508.30,95000.0,12.88,22.98,13028.0,0.0,16.0,0.0,714.0,710.0,24866.630000,0.0
3,2015-12-01,2002-04-01,2018-08-01,2015,6.49,34.5,36 months,A,6 years,RENT,Not Verified,Fully Paid,credit_card,PA,10000.0,10000.0,306.45,85000.0,6.49,13.07,10464.0,0.0,14.0,1.0,689.0,685.0,10998.971575,0.0
4,2015-12-01,1994-11-01,2017-04-01,2015,11.48,39.1,36 months,B,10+ years,MORTGAGE,Not Verified,Fully Paid,credit_card,RI,8000.0,8000.0,263.74,42000.0,11.48,34.80,7034.0,0.0,8.0,0.0,704.0,700.0,8939.580503,0.0

In [62]:
df_1.to_csv('data_col_pickup.csv')

In [ ]:
path = '/Users/cyuancheng/Documents/course/Springboard/Capstone1/data/'
df_1.to_csv(path+'data_col_pickup.csv')